.nav {
  .menu-nav {
    text-align: right;

    &__item {
      //easiest way to align items side by side
      display: inline;
      padding-right: 1rem;
      &.active > a {
        color: $secondary-color;
      }
    }
    &__link {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      @include transition-ease;

      &:hover {
        color: rgb(20, 160, 206);
      }
    }
  }
}
